<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_AgileGrid>
            <version>0.1.0</version>
        </Mediotype_AgileGrid>
    </modules>
    <global>
        <models>
            <mediotype_agilegrid>
                <class>Mediotype_AgileGrid_Model</class>
                <resourceModel>Mediotype_AgileGrid_resource</resourceModel>
            </mediotype_agilegrid>
            <Mediotype_AgileGrid_resource>
                <class>Mediotype_AgileGrid_Model_Resource</class>
                <entities>
                    <filter>
                        <table>mediotype_filter</table>
                    </filter>
                </entities>
            </Mediotype_AgileGrid_resource>
        </models>
        <blocks>
            <mediotype_agilegrid>
                <class>Mediotype_AgileGrid_Block</class>
            </mediotype_agilegrid>
            <adminhtml>
                <rewrite>
                    <widget_grid_column_filter_date>Mediotype_AgileGrid_Block_Adminhtml_Widget_Grid_Column_Filter_Date</widget_grid_column_filter_date>
                    <widget_grid_column_filter_datetime>Mediotype_AgileGrid_Block_Adminhtml_Widget_Grid_Column_Filter_Datetime</widget_grid_column_filter_datetime>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <mediotype_agilegrid>
                <class>Mediotype_AgileGrid_Helper</class>
            </mediotype_agilegrid>
        </helpers>
        <resources>
            <Mediotype_AgileGrid_setup>
                <setup>
                    <module>Mediotype_AgileGrid</module>
                </setup>
            </Mediotype_AgileGrid_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mediotype_agilegrid>
                    <file>mediotype/AgileGrid.xml</file>
                </mediotype_agilegrid>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <Mediotype_AgileGrid>
                <use>admin</use>
                <args>
                    <module>Mediotype_AgileGrid</module>
                    <frontName>Mediotype_AgileGrid</frontName>
                </args>
            </Mediotype_AgileGrid>
        </routers>
    </admin>
</config>